.home {
    width: 100%;
    height: 100vh;
    background: #212121;
}
.home_slider_container {
    width: 100%;
    height: 100%;
}

.owl-carousel.home_slider.owl-loaded {
    display: block;
}

.home_slider {
    width: 100%;
    height: 100%;
}
.owl-carousel.home_slider {
    display: none;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-carousel.home_slider .owl-stage-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel.home_slider .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    width: 100%;
    height: 100%;
    -moz-backface-visibility: hidden;
}
.owl-carousel.home_slider.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.home_slider .owl-wrapper, .owl-carousel.home_slider .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel.home_slider .owl-item {
    position: relative;
    min-height: 1px;
    width: 100%;
    height: 100%;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.home_slider_container > .owl-carousel.home_slider .owl-item {
  opacity: inherit;
}

.owl-carousel.home_slider.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel.home_slider .owl-dots .owl-dot:after {
  content: none;
}

.home_slider .owl-dots .owl-dot.active span {
    background: #bda994;
}

.home_slider_container > .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #A19799;
}
.home_slider .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    background: #d2d2d2;
    margin-top: 5px;
    margin-right: 6px;
    margin-bottom: 5px;
    margin-left: 6px;
}
.home_slider_container >.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #CFCFD0;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.home_slider_container > .owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: none;
    position: relative;
}

.home_slider_prev {
    left: 177px;
}
.home_slider_next {
    right: 177px;
}

.home_slider_nav {
    position: absolute;
    top: 42.32%;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #939393;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    z-index: 10;
}
.home_slider_nav:hover{
  background-color: #eac15a;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}
.home_slider .owl-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-carousel.home_slider .owl-nav .owl-prev, .owl-carousel.home_slider .owl-nav .owl-next, .owl-carousel.home_slider .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.home_slider .owl-dots .owl-dot.active span {
    background: #bda994;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #A19799;
}
.home_slider .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    background: #d2d2d2;
    margin-top: 5px;
    margin-right: 6px;
    margin-bottom: 5px;
    margin-left: 6px;
}
.home_slider .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #CFCFD0;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}



@media only screen and (max-width: 991px){
  .home_slider_nav {
    display: none !important;
}
}

@media only screen and (max-width: 1440px){
    .home_slider_prev {
    left: 30px;
}
.home_slider_next {
    right: 30px;
}
}

@media only screen and (max-width: 1680px){
    .home_slider_prev {
    left: 60px;
}
.home_slider_next {
    right: 60px;
}
}

.card-item-2, .card-item-2 .front, .card-item-2 .box-2 {
    width: 100%;
    height: 437px;
}

.card-item-2 {
  margin-bottom: 50px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d; 
}
  .card-item-2, .card-item-2 .box-2 {
    width: 100%;
    height: 437px; 
  }
  
  .card-item-2 .box-2 {
    background: #fff;
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
  }
  .card-item-2 .box-2 p {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    font-size: 16px; 
  }
  .card-item-2 .author {
    bottom: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px; 
  }
    .card-item-2 .author .image {
      width: 40px; 
    }
      .card-item-2 .author .image img {
        border-radius: 50%;
        max-width: 100%; 
      }
    .card-item-2.author .name {
      color: #000000;
      font-family: "Lora", serif; 
    }
    .card-item-2.author .position {
      display: block;
      color: #ccc;
      font-size: 13px;
      font-family: "Poppins", Arial, sans-serif; 
    }
  @media (max-width: 991.98px) {
    .card-item-2.box-2 {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg); }
   
    }

    .card-item-bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #eac15a;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    z-index: 0;
}
.card-item-2:hover .card-item-bg
{
	height: 100%;
}