@{
    ViewBag.Title = "รายงาน";
}

<div class="report-form">
    <h6 class="text-center">
        <asp:Label ID="lblCompanyFullname" Text="" runat="server" />
    </h6>
    <div class="report-header text-center">ใบสังซื้อ(Purchase Order)</div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default" style="border: solid 1px #eee;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label>รหัสผู้ขาย</label>
                        </div>
                        <div class="col-md-4">
                            <span class="text-primary">SO01-000001</span>
                        </div>
                        <div class="col-md-2">
                            <label>หมายเลขผู้เสียภาษี</label>
                        </div>

                        <div class="col-md-4">
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>ชื่อผู้ขาย</label>
                        </div>
                        <div class="col-md-10">
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>โทร.</label>
                        </div>
                        <div class="col-md-4">
                            <span class="text-primary"></span>
                        </div>
                        <div class="col-md-2">
                            <label>โทรสาร.</label>
                        </div>
                        <div class="col-md-4">
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>ชื่อผู้ติดต่อ</label>
                        </div>
                        <div class="col-md-10">
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>เบอร์โทรผู้ติดต่อ</label>
                        </div>
                        <div class="col-md-4">
                            <span class="text-primary"></span>
                        </div>
                        <div class="col-md-2">
                            <label>อีเมล์ผู้ติดต่อ</label>
                        </div>
                        <div class="col-md-4">
                            <span class="text-primary"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default" style="border: solid 1px #eee;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>เลขที่ใบสั่งซื้อ</label>
                        </div>
                        <div class="col-md-6">
                            <asp:Label ID="lblPONumber" runat="server" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>วันที่ใบสั่งซื้อ</label>
                        </div>
                        <div class="col-md-6">
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>เงื่อนไขการชำระ</label>
                        </div>
                        <div class="col-md-6">
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>สถานที่ส่งของ</label>
                        </div>
                        <div class="col-md-6">
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>เลขที่ใบกำกับภาษี</label>
                        </div>
                        <div class="col-md-6">
                            <span class="text-primary"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
