@{
    ViewBag.Title = "รายงาน";
}

<div class="report-form">
    <h6 class="text-center">
        <asp:Label ID="lblCompanyFullname" Text="" runat="server" />
    </h6>
    <div class="report-header text-center">ใบสังซื้อ(Purchase Order)</div>
    
</div>
